.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* new css */
/* Add these styles to your CSS file or use a CSS-in-JS approach */

.App {
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:#101010;
  color: #fff;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.cursive-text {
  font-family: 'cursive';
  font-size: 20px;
  margin-right: 20px;
  /* Adjust as needed */
}

.header-text {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  /* Adjust as needed */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: #ccc;
  /* Adjust hover color */
}

.styled-text {
  font-size: 18px;
  text-transform: uppercase;
}

/* Add additional styles as needed for other components */